.DS_Store
client/node_modules
client/npm-debug.log
client/bower_components
.sass-cache

server/target
.env
.project
server/Procfile*
!server/Procfile.dev
.idea

server/application/webroot/WEB-INF/*
!server/application/webroot/WEB-INF/*.xml
!server/application/webroot/WEB-INF/lib/
!server/application/webroot/WEB-INF/lucee/

server/application/webroot/WEB-INF/lib/*
!server/application/webroot/WEB-INF/lib/lucee-server/

server/application/webroot/WEB-INF/lib/lucee-server/*
!server/application/webroot/WEB-INF/lib/lucee-server/context/

server/application/webroot/WEB-INF/lib/lucee-server/context/*
!server/application/webroot/WEB-INF/lib/lucee-server/context/lucee-server.xml

server/application/webroot/WEB-INF/lucee/*
!server/application/webroot/WEB-INF/lucee/lucee-web.xml.cfm

server/application/db/**
server/application/webroot/assets/**
