<div class="title-bar dark">
	<span class="hide-for-medium left condense">
		<ul class="menu-bar dark condense">
	        <li>
				<a zf-toggle="sidebar">Menu</a>
			</li>
		</ul>
	</span>
	<span class="show-for-medium left">
		<ul class="menu-bar dark condense">
			<li ng-repeat="item in vm.userMenuItems">
				<a href="/index.cfm/{{item.link}}">{{item.name}}</a>
			</li>
		</ul>
	</span>
	<span class="show-for-medium right">
		<ul class="menu-bar dark condense">
			<li ng-repeat="item in vm.userMenuItems">
				<a href="/index.cfm/{{item.link}}">{{item.name}}</a>
			</li>
		</ul>
	</span>
</div>
