<div class="grid-content form-container vertical">
    <form class="form-common form-login" ng-controller="LoginController">
        <div class="grid-content">
            <label>
            Input Label
            <input type="text" ng-model="user" placeholder="Text field">
            </label>
        </div>
        <div class="grid-content">
            <label>
            Input Label
            <input type="text" ng-model="password" placeholder="Text field">
            </label>
        </div>
        <div class="grid-content">
            <a class="button" ng-click="submitLogin()">Login</a>
        </div>
    </form>
</div>
